@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
  

/* File input customization */
.file\:mr-4 {
  margin-right: 1rem;
}

.file\:py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.file\:px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.file\:rounded-full {
  border-radius: 9999px;
}

.file\:text-sm {
  font-size: 0.875rem;
}

.file\:bg-gray-200 {
  background-color: #e5e7eb;
}

.hover\:file\:bg-gray-300:hover {
  background-color: #d1d5db;
}
